body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.btn{
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
}

.number{
    border: 1px solid blue;
    border-radius: 10px;
}

.number:hover{
    background-color: rgb(201, 218, 255);
}

.operator{
    border: 1px solid rgb(111, 0, 255);
    border-radius: 10px;
}

.operator:hover{
    background-color: rgb(224, 201, 255);
}

.decimal{
    border: 1px solid rgb(0, 255, 242);
    border-radius: 10px;
}

.decimal:hover{
    background-color: rgb(201, 255, 237);
}

.equals{
    border: 1px solid rgb(255, 0, 234);
    border-radius: 10px;
    width: 180px;
}

.equals:hover{
    background-color: rgb(255, 201, 252);
}

.clear{
    border: 1px solid rgb(0, 183, 255);
    border-radius: 10px;
    width: 180px;
}

.clear:hover{
    background-color: rgb(201, 240, 255);
}

.delete{
    border: 1px solid rgb(0, 183, 255);
    border-radius: 10px;
    font-size: 30px;
    padding: 5px;
}

.delete:hover{
    background-color: rgb(201, 240, 255);
}

#screen{
    width: 400px;
    height: 75px;
    border: 1px solid rgb(248, 173, 102);
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 10px;
}

#display{
    font-size: 30px;
}

#previous-display{
    color: rgba(0, 0, 0, 0.75);
}


